body {
  background-color: hsl(30, 54%, 90%);
}

.container {
  margin: auto;
  width: 100%;
  color: #383737;
  background-color: hsl(0, 0%, 100%);
  padding: 5%;
  border: 0px solid black;
  border-radius: 10px;
  width: 60%;
  height: auto;
}

.container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

table,
ol,
ul,
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

.img-header {
  width: 100%;
  height: auto;
  border: 1px solid black;
}

li {
  padding: 5px;
}

.ul li::marker {
  color: #c98282;
}

.ol li::marker {
  color: #c98282;
}

.preparation {
  background-color: #f8efed;
  padding: 1px 10px;
  border-radius: 10px;
}

h3 {
  color: brown;
}

hr {
  opacity: 0.3;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

table {
  border-spacing: 0px;
}
td {
  padding: 10px 180px 10px 20px;
  border-bottom: 1px solid hwb(0 85% 13%);
}
